body {
  font-family: "Comic Sans MS", cursive, sans-serif
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.container {
  width: 801px;
  margin: auto;
  border: 4px solid #222;
}

header {
  border-bottom: 4px solid #222;
}
.brand {
  float: left;
  width: 151px;
  border-right: 4px solid #222;
  padding: 25px;
}

.brand img {
  width: 151px;
}

.banner {
  text-align: center;
  float: right;
  width: 596px;
  padding-top: 20px;
}

.banner img {
  width: 320px;
}

h1 {
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
}

.inputs {
  padding: 20px 40px;
  border-bottom: 4px solid #222;
}

.inputs input {
  display: block;
  margin: auto;
  text-align: center;
}

input.name {
  width: 150px;
}
input.jobTitle {
  width: 110px;
}
input.tediousTask {
  width: 140px;
}
input.dirtyTask {
  width: 130px;
}
input.celebrity {
  width: 120px;
}
input.uselessSkill {
  width: 150px;
}
input.obnoxiousCelebrity {
  width: 180px;
}
input.hugeNumber {
  width: 150px;
}
input.adjective {
  width: 120px;
}

.input-container {
  width: 33.33%;
  float: left;
  text-align: center;
}

input[type="text"] {
  font-size: 18px;
  margin-bottom: 12px;
  font-family: "Comic Sans MS", cursive, sans-serif
}

.madlib {
  padding: 20px 40px;
}

.madlib p {
  font-size: 20px;
  line-height: 1.5em;
}

.mad-input {
  text-decoration: underline;
}
