body {
  font-family: "Comic Sans MS", cursive, sans-serif
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.container {
  width: 801px;
  margin: auto;
  border: 4px solid #222;
  height: 800px;
  position: relative;
}

header {
  border-bottom: 4px solid #222;
}
.brand {
  float: left;
  width: 151px;
  border-right: 4px solid #222;
  padding: 25px;
}

.brand img {
  width: 151px;
}

.banner {
  text-align: center;
  float: right;
  width: 596px;
  padding-top: 20px;
}

.banner img {
  width: 320px;
}

h1 {
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
}

.inputs {
  padding: 20px 40px;
  position: absolute;
}

.inputs input {
  display: block;
  margin: auto;
  text-align: center;
}

input.name {
  width: 150px;
}
input.jobTitle {
  width: 110px;
}
input.tediousTask {
  width: 140px;
}
input.dirtyTask {
  width: 130px;
}
input.celebrity {
  width: 120px;
}
input.uselessSkill {
  width: 150px;
}
input.obnoxiousCelebrity {
  width: 180px;
}
input.hugeNumber {
  width: 150px;
}
input.adjective {
  width: 120px;
}

.input-container {
  width: 33.33%;
  float: left;
  height: 70px;
  text-align: center;
}

input {
  font-size: 18px;
  margin-bottom: 12px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: 1px solid #999;
  box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
  border-radius: 3px;
  padding: 3px;
}

input.error {
  border-color: red;
  background: #FCE7E9;
}

.errorMessage {
  font-size: 11px;
  color: red;
}

.madlib {
  padding: 20px 40px;
  position: absolute;
}

.madlib p {
  font-size: 20px;
  line-height: 1.5em;
}

.mad-input {
  text-decoration: underline;
}

button {
  float: right;
  margin: 20px 0;
}


/* animations */

.inputs.ng-hide-add, .madlib.ng-hide-add{
  -webkit-animation:1s hide_inputs;
  animation:0.5s hide_inputs;
}

.madlib.ng-hide-remove, .inputs.ng-hide-remove{
  -webkit-animation:0.5s show_madlib;
  animation:1s show_madlib;
  -webkit-animation-delay:0.5s;
  animation-delay:1s;
}

@keyframes hide_inputs {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes hide_inputs {
  from { opacity:1; }
  to { opacity:0; }
}

@keyframes show_madlib {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes show_madlib  {
  from { opacity:0; }
  to { opacity:1; }
}
